<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://lorempixel.com/400/200');">

  <div class="card-body">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h2><%= restaurant.name %></h2>
            <p class="address"><%= restaurant.address %></p>
            <p><%= restaurant.category %></p>
            <p><%= restaurant.phone_number %></p>
            <%= link_to 'Show', restaurant_path(restaurant)%>
          </div>
        </div>
      </div>
  </div>
</div>


</div>
